*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}
.section-1{
    background-color: #34495e;
}
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 70px;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 30px;
    
}